.display {
  border: 1px solid black;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
}

.display__logo {
  width: 100px;
}

.display__body {
  display: flex;
  flex-direction: row;
  padding: 0 0 60px 0;
}

.display__details {
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 300px;
}

.display__product-name {
  font-size: 50px;
  text-align: center;
}

.display__product-details {
  font-size: 30px;
  text-align: center;
}

.display__product-price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.display__product-price-major {
  font-size: 60px;
  padding: 0;
}

.display__product-price-minor {
  font-size: 30px;
  padding: 0;
}

.display__image {
  width: 200px;
}

.display__notes {
  padding: 3px 10px 30px 0;
  border-top: 3px solid red;
  background-color: black;
  color: white;
}
